/**index.wxss**/
page {
  // height: 100vh;
  background-color: #efefef !important;
  display: flex;
  flex-direction: column;
  padding: 16rpx;
  box-sizing: border-box;

  >view {
    &:nth-child(n + 2) {
      margin-top: 16rpx;
    }
  }
}

// 轮播图区域
.swiper {
  swiper {
    height: 360rpx;
    // background: skyblue;
    border-radius: 10rpx;
    overflow: hidden;

    swiper-item {
      image {
        border-radius: 10rpx;
        width: 100%;
        height: 100%;
      }
    }
  }
}

// 公司信息区域
.info {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20rpx 16rpx;
  border-radius: 10rpx;
  font-size: 24rpx;

  .iconfont{
    font-size: 24rpx;
  }
}

// 商品导航区域
.good-nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20rpx 16rpx;
  border-radius: 10rpx;

  view {
    navigator {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    image {
      width: 80rpx;
      height: 80rpx;
    }

    text {
      font-size: 24rpx;
      margin-top: 12rpx;
    }
  }
}

// 推荐商品区域
.good-hot{
  .scroll-x{
    width: 100%;
    white-space: nowrap;
    background-color: #fff;
    padding: 16rpx;
    border-radius: 10rpx;
    font-size: 24rpx;

    view{
      display: inline-block;
      width: 320rpx;
      height: 440rpx;
      margin-right: 16rpx;

      .good-item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        text{
          &:nth-of-type(1){
            font-weight: bold;
          }
        }
      }

      image{
        width: 100%;
        height: 320rpx;
      }

      &:last-child{
        margin-right: 0;
      }
    }
  }
}

.catch{
  width: 100%;
  height: 200rpx;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-image{
  height: 400rpx;
  // 小程序背景图的地址不能写死本地路径
  // background-image: url(../../assets/images/floor-img.jpg);

  // 可以使用网络图片替换本地路径
  // background-image: url(http://8.131.91.46:6677/bgimage.png);
  // 也可以将图片转换成 base64 的格式，然后进行使用
}
// .scroll-x {
//   width: 100%;
//   display: inline-block;
//   white-space: nowrap;
//   background-color: skyblue;

//   view{
//     display: inline-block;
//     width: 300rpx;
//     height: 80rpx;

//     &:last-child{
//       background-color: lightcoral;
//     }

//     &:first-child{
//       background-color: lightseagreen;
//     }
//   }
// }

// .scroll-y {
//   height: 400rpx;
//   background-color: skyblue;
//   margin-top: 10rpx;

//   view{
//     height: 400rpx;

//     &:last-child{
//       background-color: lightcoral;
//     }

//     &:first-child{
//       background-color: lightseagreen;
//     }
//   }
// }